In [ ]:
import pandas as pd
import numpy as np

# Importing FIles

In [ ]:
file_paths = {
    "Civilian Population": "/content/drive/MyDrive/Housing Datasets/CNP16OV.csv",
    "GDP": "/content/drive/MyDrive/Housing Datasets/GDP.csv",
    "Median Income": "/content/drive/MyDrive/Housing Datasets/MEHOINUSA646N.csv",
    "30-Year Fixed Mortgage": "/content/drive/MyDrive/Housing Datasets/MORTGAGE30US.csv",
    "S&P 500 Index": "/content/drive/MyDrive/Housing Datasets/S&P 500 Monthly Index.csv",
    "10-Year Breakeven Inflation": "/content/drive/MyDrive/Housing Datasets/T10YIE.csv",
    "Unemployment Percentage": "/content/drive/MyDrive/Housing Datasets/UNRATE.csv",
    "Case-Shiller Home Index": "/content/drive/MyDrive/Housing Datasets/CSUSHPISA.csv"
}

# Creating an empty dictionary to store the dataframes
dataframes = {}

for feature, file_path in file_paths.items():
    dataframes[feature] = pd.read_csv(file_path)

In [ ]:
for feature, df in dataframes.items():
    print(f"*** {feature} ***")
    print(df.head())
    print(df.tail())
    print("\n")

*** Civilian Population ***
         DATE  CNP16OV
0  2003-01-01   219897
1  2003-02-01   220114
2  2003-03-01   220317
3  2003-04-01   220540
4  2003-05-01   220768
           DATE  CNP16OV
245  2023-06-01   266801
246  2023-07-01   267002
247  2023-08-01   267213
248  2023-09-01   267428
249  2023-10-01   267642


*** GDP ***
         DATE        GDP
0  2003-01-01  11174.129
1  2003-04-01  11312.766
2  2003-07-01  11566.669
3  2003-10-01  11772.234
4  2004-01-01  11923.447
          DATE        GDP
78  2022-07-01  25994.639
79  2022-10-01  26408.405
80  2023-01-01  26813.601
81  2023-04-01  27063.012
82  2023-07-01  27623.543


*** Median Income ***
         DATE  MEHOINUSA646N
0  2002-01-01          42410
1  2003-01-01          43320
2  2004-01-01          44330
3  2005-01-01          46330
4  2006-01-01          48200
          DATE  MEHOINUSA646N
16  2018-01-01          63180
17  2019-01-01          68700
18  2020-01-01          68010
19  2021-01-01          70780
20  2022-01-01          74580


*** 30-Year Fixed Mortgage ***
         DATE  MORTGAGE30US
0  2002-01-01        6.9975
1  2002-02-01        6.8925
2  2002-03-01        7.0140
3  2002-04-01        6.9850
4  2002-05-01        6.8060
           DATE  MORTGAGE30US
257  2023-06-01         6.714
258  2023-07-01         6.840
259  2023-08-01         7.072
260  2023-09-01         7.200
261  2023-10-01         7.620


*** S&P 500 Index ***
           Date      Open      High       Low    Close* Adj Close**  \
0  Nov 06, 2023  4,364.27  4,372.21  4,347.53  4,365.98    4,365.98
1  Oct 31, 2023  4,201.27  4,373.62  4,197.74  4,365.98    4,365.98
2  Sep 30, 2023  4,284.52  4,393.57  4,103.78  4,193.80    4,193.80
3  Aug 31, 2023  4,530.60  4,541.25  4,238.63  4,288.05    4,288.05
4  Jul 31, 2023  4,578.83  4,584.62  4,335.31  4,507.66    4,507.66

           Volume
0   2,177,065,000
1  17,121,980,000
2  79,952,900,000
3  73,482,980,000
4  86,840,820,000
             Date      Open      High       Low    Close* Adj Close**  \
258  May 31, 2002  1,067.14  1,070.74    952.92    989.82      989.82
259  Apr 30, 2002  1,076.92  1,106.59  1,048.96  1,067.14    1,067.14
260  Apr 01, 2002  1,147.39  1,147.84  1,063.46  1,076.92    1,076.92
261  Mar 01, 2002  1,106.73  1,173.94  1,106.73  1,147.39    1,147.39
262  Feb 01, 2002  1,130.20  1,130.20  1,074.36  1,106.73    1,106.73

             Volume
258  29,981,510,000
259  26,905,500,000
260  28,568,900,000
261  26,563,200,000
262  26,047,600,000


*** 10-Year Breakeven Inflation ***
         DATE    T10YIE
0  2003-01-01  1.754286
1  2003-02-01  1.912632
2  2003-03-01  1.862857
3  2003-04-01  1.774762
4  2003-05-01  1.660952
           DATE    T10YIE
245  2023-06-01  2.200476
246  2023-07-01  2.296500
247  2023-08-01  2.335217
248  2023-09-01  2.342000
249  2023-10-01  2.386190


*** Unemployment Percentage ***
         DATE  UNRATE
0  2003-01-01     5.8
1  2003-02-01     5.9
2  2003-03-01     5.9
3  2003-04-01     6.0
4  2003-05-01     6.1
           DATE  UNRATE
243  2023-04-01     3.4
244  2023-05-01     3.7
245  2023-06-01     3.6
246  2023-07-01     3.5
247  2023-08-01     3.8


*** Case-Shiller Home Index ***
         DATE  CSUSHPISA
0  1987-01-01     63.965
1  1987-02-01     64.424
2  1987-03-01     64.736
3  1987-04-01     65.132
4  1987-05-01     65.563
           DATE  CSUSHPISA
435  2023-04-01    300.198
436  2023-05-01    302.620
437  2023-06-01    304.651
438  2023-07-01    306.634
439  2023-08-01    309.404

# Merging Relevant Columns

In [ ]:
columns_to_merge = ["CNP16OV",  "30-Year Fixed Mortgage", "10-Year Breakeven Inflation", "Unemployment Percentage", "Case-Shiller Home Index"]

final_df = dataframes["Civilian Population"].set_index("DATE")

for feature in columns_to_merge:
    if feature != "CNP16OV":
        # Set the date column as the index for the current dataframe
        current_df = dataframes[feature].set_index("DATE")

        # Merge the current dataframe with the final dataframe, keeping only rows with common dates
        final_df = final_df.join(current_df, how="inner", rsuffix=f" ({feature})")

final_df.reset_index(inplace=True)
print(final_df.head())

         DATE  CNP16OV  MORTGAGE30US    T10YIE  UNRATE  CSUSHPISA
0  2003-01-01   219897        5.9160  1.754286     5.8    128.461
1  2003-02-01   220114        5.8425  1.912632     5.9    129.355
2  2003-03-01   220317        5.7450  1.862857     5.9    130.148
3  2003-04-01   220540        5.8125  1.774762     6.0    130.884
4  2003-05-01   220768        5.4840  1.660952     6.1    131.735

In [ ]:
print(final_df.tail())

           DATE  CNP16OV  MORTGAGE30US    T10YIE  UNRATE  CSUSHPISA
243  2023-04-01   266443        6.3425  2.266500     3.4    300.198
244  2023-05-01   266618        6.4250  2.213636     3.7    302.620
245  2023-06-01   266801        6.7140  2.200476     3.6    304.651
246  2023-07-01   267002        6.8400  2.296500     3.5    306.634
247  2023-08-01   267213        7.0720  2.335217     3.8    309.404

# Exporting the Draft Dataset

In [ ]:
final_df.to_csv("final_dataset.csv", index=False)